{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    {% include 'header.html' %}
    <main class="education_bg">
        <div class="grid">
            <div class="e_content">
                <ul class="e_section e_section1">
                    {% for item in lesson_type1 %}
                        <li><a href="{% url 'app_models' id=item.id %}">{{ item.name|safe }}</a></li>
                    {% endfor %}

                </ul>

                <ul class="e_section e_section2">
                    {% for item in lesson_type2 %}
                        <li><a href="{% url 'app_models' id=item.id %}">{{ item.name|safe }}</a></li>
                    {% endfor %}
                </ul>
                <img src="{% static 'img/education_menu_img.png' %}" alt="image">
            </div>
        </div>
    </main>

{% endblock %}