{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    {% include 'header.html' %}
    <main class="videos_bg">
        <div class="videos_title">
            <div class="grid">
                <h1>видеоуроки</h1>
            </div>
        </div>

        <div class="video_container">
            <div class="grid">
                <div class="vid-container">
                    <iframe id="vid_frame" src="https://www.youtube.com/embed/papuvlVeZg8?rel=0?ecver=1" frameborder="0"
                            allowfullscreen></iframe>
                    <h4>Зачем нужна медиаграмотность-2</h4>
                </div>

                <div class="vid-list-container">
                    <div class="vid-list">
                        {% for item in lesson%}s
                            <div class="vid-item"
                                 onClick="document.getElementById('vid_frame').src='https://www.youtube.com/embed/{{ item.link }}?autoplay=1&rel=0&showinfo=0&autohide=1'">
                                <div class="thumb">
                                    <img src="http://img.youtube.com/vi/{{ item.link }}/0.jpg">
                                </div>
                                <div class="desc">
                                    {{ item.name }}
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}